@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,800,400);

$font-family-base: "Open Sans", Arial, sans-serif;
$font-size-h1: 2rem;
$font-size-h2: 1.5rem;
$font-size-h3: 1.2rem;
$font-size-body: 1em;
